.home {
    width: 100%;
    min-height: 100%;
    .home-logo {
        height: 40vmin;
        pointer-events: none;
    }
    .home-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    @media (prefers-reduced-motion: no-preference) {
        .home-logo {
          animation: App-logo-spin infinite 20s linear;
        }
    }
    @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
    }
    .menu {
      background-color: #282c34;
      padding: 0;
      margin: 0;
      .flex {
        justify-content: center;
        display: flex;
      }
    }
}